<%- include("partials/header")%>
<main>
  <h1><%= model.h1tag%></h1>
  <p><%=model.ptag%></p>

  <% for(var i of model.blogPosts){%>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          
          <h3 class="card-title"><%=i.baslik%></h3>
          <%if (i.icerik.length<=160){%>
            <p class="card-text"><%= i.icerik %></p>
          <%}else { %>
          
            <p class="card-text"><%= i.icerik.slice(0,160) %> ..  <a href="/devamini-oku/<%=i.id%>" role="button">Devamini Oku</a></p>
           
         <% }%>

          <a name="silButton" class="btn btn-danger" href="/sil/<%=i.id%>" role="button">SIL</a> <!-- HREF verecegin zaman anchor olarak tanimla, buttonlarin hrefi -->
          <!-- href="/?islem=sil&id=<%=i.id %>" -->
        </div>
      </div>
    </div>
  </div>

  <%} %>
</main>
<%- include("partials/footer")%>
